<head>
    <style>
        *{
            font-size: 20px;
            box-sizing: border-box;
        }
        .card{
            border: solid black 3px;
            height: 15rem;
            width: 24rem;
        }
        .text{
            color: rgb(255, 223, 0);
            width: 70%;
            height: 100%;
            background-color: black;
            padding-left: 1rem;
            padding-top: 1rem;
        }
        .epic{
            color: rgb(196, 202, 206);
            font-size: 25px;
        }
        .contactMe{
            font-size: 15px;
            color: rgb(15, 82, 186); 
        }
        #contact{
            margin-left: 30%;
            margin-top: 30%;
        }
        .logo{
            background-color: black;
            border: solid black 3px;
            height: 15rem;
            width: 24rem;
            margin-top: 3rem;
        }
        .foto{
            width: 200px;
            margin-left: 20%;
            margin-top: 20%;
        }
    </style>
</head>
<body>
  <div id="root"></div>

  <script src="https://unpkg.com/react@16.12.0/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@16.12.0/umd/react-dom.development.js"></script>
  <script src="https://unpkg.com/@babel/standalone@7.8.3/babel.js"></script>
  <script src="https://unpkg.com/prop-types@15.7.2/prop-types.js"></script>

  <script type="text/babel">
    const rootElement = document.getElementById('root');

    /* Business Card component
     * @param name - the name of the person displayed in the business card
     * @param email
     * @param phone
     * @param headline - a brief description that describes what the person does in 120 characters or less
     */

    // Add your component here :)

    const BusinessCard = (props) => {  
           return <>
           <div className="card" >
                <div className="text">
                    <p>{props.name}</p>
                    <p className="epic">{props.children}</p>
                    <div id="contact">
                        <div className = "contactMe">{props.email}</div>
                        <div className = "contactMe">{props.phone}</div>
                    </div>
                </div>
           </div>
           <div className="logo" >
                <div className="foto">
                    <img className="foto" src={props.src} alt="logo"/>
                </div>
           </div>
           </>
            
        }
    BusinessCard.propTypes={
        name: PropTypes.string, 
        email: PropTypes.string, 
        phone: PropTypes.number, 
        children: PropTypes.string,
        src: PropTypes.string
        }

        const eJSX = (
            <>
                <BusinessCard src="/logo.png" name="Kevin Israel Guzman Jimenez" email="A01275139@itesm.mx" phone={7712920513}>
                    “Never make permanent decisions”
                </BusinessCard>

            </>    
        );

    ReactDOM.render(eJSX, rootElement);
  </script>
</body>